@charset 'utf-8';

// Abstracts
@import 'abstracts/variables';

// Base
@import 'base/base';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/utility';

// Components
@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/section-description';
@import 'components/sidebar';
@import 'components/might-like';
@import 'components/form';
@import  'components/alert';
@import "components/pagination";
@import "components/search";
@import "components/table";
@import "components/badge";

// Layout
@import 'layout/header';
@import 'layout/footer';

// Pages
@import 'pages/landing-page';
@import 'pages/shop';
@import 'pages/product';
@import 'pages/cart';
@import 'pages/checkout';
@import 'pages/thankyou';
@import "pages/search-results";
@import 'pages/auth';
@import 'pages/my-profile';
@import 'pages/my-orders';
